@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.mantine-Input-input {
  &:focus-within {
    border: rgba(158, 11, 11, 1) 1px solid;
  }
}

@theme {
  --font-dmsans: 'DM Sans', sans-serif;
  --font-bebas: 'Bebas Neue', serif;
  --color-theme-red: rgba(158, 11, 11, 1);
}

.Toastify__toast {
  font-family: 'DM Sans', sans-serif !important;
}

:root {
  --theme-red: rgba(158, 11, 11, 1);
}
