.navbar {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 2rem;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.authButtons {
  display: flex;
  gap: 0.5rem;
}
